* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "Funky";
  src: url("../public/PassionOne-Regular.ttf");
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
}

.Main {
  min-height: 100vh;
  font-family: "Funky";
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(4, 154, 215);
  }

  &__Left {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: rgb(4, 154, 215);

    @media (max-width: 768px) {
      min-height: unset;
      width: 100%;
    }

    &__Logo {
      padding: 4rem 4rem 0 4rem;

      @media (max-width: 768px) {
        padding: 0 1rem;
        margin: auto;
      }

      &__Image {
        width: 100%;

        @media (max-width: 768px) {
          height: 23vh;
          width: auto;
        }
      }
    }

    &__Infos {
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 768px) {
        height: auto;
        padding: 1rem 0 0;
      }

      &__Slogan {
        font-size: 3.5rem;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
          font-size: 2rem;
          margin: 1rem 0 0;
        }
      }
    }
  }

  &__Right {
    position: relative;
    min-height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 8px 0 10px -6px rgb(5, 94, 129);
    background-color: #fedc00;

    @media (max-width: 768px) {
      width: 100%;
      height: unset;
      min-height: unset;
      background-color: transparent;
      box-shadow: none;
    }

    &__Support {
      position: absolute;
      bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        position: relative;
        bottom: unset;
        margin-top: 1rem;
      }

      &__Button {
        text-align: center;
        color: rgba(4, 154, 215, 1);
        font-size: 3rem;
        background-color: transparent;
        border: none;
        font-family: "Funky";
        cursor: pointer;
        margin-top: 1rem;

        @media (max-width: 768px) {
          color: white;
          font-size: 1.8rem;
          margin-top: 0.5rem;
        }

        svg {
          position: relative;
          top: 0.5rem;
          height: 2.7rem;
          width: 2.7rem;
          margin-left: 1rem;

          @media (max-width: 768px) {
            height: 2rem;
            width: 2rem;
            margin-left: 0.5rem;
            top: 0.35rem;
          }
        }
      }
    }
  }
}
