.Player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 0 1rem 1rem 1rem;
  }

  &__Button {
    $mobileSize: 6rem;
    $mobileColor: #ffeb00;
    $mobileBorder: $mobileSize/4;
    $color: rgba(4, 154, 215, 1);
    $highlight: darken($color, 5%);
    $duration: 0.4s;
    $sin: 0.866;
    $size: 125px;
    $border: $size/4;

    border: none;
    border-radius: 50%;
    margin: 20px;
    width: $size;
    height: $size;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding: 4rem;
    transition: all 1s ease-in;

    @media (max-width: 768px) {
      padding: 4rem;
      margin-top: 0;
      width: $mobileSize;
      height: $mobileSize;
    }

    &,
    .left,
    .right,
    &:before {
      box-sizing: content-box;
      display: inline-block;
      vertical-align: middle;
      transition: border $duration, width $duration, height $duration,
        margin $duration;
      transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
    }

    &:before {
      content: "";
      height: $size;

      @media (max-width: 768px) {
        height: $mobileSize;
      }
    }

    &.pause {
      background: linear-gradient(145deg, #e5c600, #ffeb00);
      box-shadow: 6px 6px 13px #d8bb00, -6px -6px 13px #fffd00;

      @media (max-width: 768px) {
        background: linear-gradient(145deg, #048bc2, #04a5e6);
        box-shadow: 18px 18px 36px #0383b7, -18px -18px 36px #05b1f7;
      }

      .left,
      .right {
        margin: 0;
        border-left: $size * 0.33 solid $color;
        border-top: 0 solid transparent;
        border-bottom: 0 solid transparent;
        height: $size * $sin;

        @media (max-width: 768px) {
          border-left: $mobileSize * 0.33 solid $mobileColor;
          height: $mobileSize * $sin;
        }
      }

      .left {
        border-right: $size * 0.2 solid transparent;

        @media (max-width: 768px) {
          border-right: $mobileSize * 0.2 solid transparent;
        }
      }
    }

    &.play {
      background: linear-gradient(145deg, #ffeb00, #e5c600);
      box-shadow: 10px 10px 20px #d8bb00, -10px -10px 20px #fffd00;

      @media (max-width: 768px) {
        background: linear-gradient(145deg, #04a5e6, #048bc2);
        box-shadow: 18px 18px 36px #0383b7, -18px -18px 36px #05b1f7;
      }

      .left {
        margin-left: $size / 6;
        border-left: $size * $sin / 2 solid $color;
        border-top: $border solid transparent;
        border-bottom: $border solid transparent;
        border-right: 0px solid transparent;
        height: $size - 2 * $border;

        @media (max-width: 768px) {
          border-top: $mobileBorder solid transparent;
          border-bottom: $mobileBorder solid transparent;
          margin-left: $mobileSize / 6;
          border-left: $mobileSize * $sin / 2 solid $mobileColor;
          height: $mobileSize - 2 * $mobileBorder;
        }
      }

      .right {
        margin: 0;
        border-left: $size * $sin / 2 solid $color;
        border-top: $border solid transparent;
        border-bottom: $border solid transparent;
        height: 0px;

        @media (max-width: 768px) {
          border-top: $mobileBorder solid transparent;
          border-bottom: $mobileBorder solid transparent;
          border-left: $mobileSize * $sin / 2 solid $mobileColor;
        }
      }
    }
  }

  &__Title {
    margin-top: 1.5rem;
    color: rgba(4, 154, 215, 1);
    font-size: 4rem;
    letter-spacing: 0.2rem;
    text-align: center;

    @media (max-width: 768px) {
      color: white;
      font-size: 2rem;
      margin-top: 1rem;
    }

    &__Separator {
      margin: 0 1rem;
    }
  }
}
