.Shares {
  display: flex;
  justify-content: center;

  &__Link {
    border-radius: 50%;
    background-color: rgb(6, 128, 177);
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.2rem;
    background: #049ad7;
    box-shadow: 3px 3px 6px #0383b7, -3px -3px 6px #05b1f7;
    border: 0.0625rem solid transparent;

    @media (max-width: 768px) {
      height: 3rem;
      width: 3rem;
    }

    svg {
      fill: #fedc00;
      height: 2rem;
      width: 2rem;

      @media (max-width: 768px) {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &:hover {
      background: linear-gradient(145deg, #048bc2, #04a5e6);
    }
  }
}
